services:
  frontend:
    build: .
    container_name: frontend
    restart: unless-stopped
    # env_file:
    #   - .env
    expose:
      - "3001"
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
