@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f1e6d4;
  --secondary: #f5b96b ;
  --accent: #c97c5d;
  --text: #3d2c2a;
  --success: #a6c48a;
  --paragraph: #5a4e4b;

}

.cta, .recipe > h2, .ingredients > h2, .recipe-placeholder, .recipe--name, .recommends > h3{
  font-family: var(--pacifico);
}


body {
  color: var(--paragraph);
  background: var(--primary);
}

h1, h2, h3 {
  color: var(--text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: logo-spin infinite 1s linear;
  }
}
